.DS_Store
target
target/**/*
web-app/WEB-INF/classes
web-app/WEB-INF/classes/**/*
web-app/WEB-INF/tld/*.tld
web-app/WEB-INF/tld/**/*
*.log
*.iws
*.ipr
*.iml
.settings/org.eclipse.jdt.core.prefs
SendFailures.txt
*.iml
.idea
.idea/**/*
out/
*.zip
*.sha1
**/cobertura.ser
test/**/release_info.groovy
test/**/release_info.groovy.old
plugin.xml
*-rtl.css
dist
node_modules
node_modules/**/*
public/**/stylesheets/*.css
